<!DOCTYPE html>
<html lang="en">
<head>
    <title> New Expenses</title>
</head>

<body>

    <h1> New Expenses</H1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
          <button class="button">Create Expense</button>
        </div>

      </form>
      

    </main>
</body>


</html>