{% extends "base.html" %}

{% block content %}

<body>
    <h1>Expense Category page</h1>


    <table>
        <thead>
            <th>Name</th>
            <th>Number_of_reciepts</th>
        </thead>
        {% for items in expense_category %}
      
            <tr>
                <td>{{ items.name }}</td>
                <td>{{ items.receipts.count }}</td>
            </tr>
       
        {% endfor %}
    </table>



   

</body>


{% endblock content %}