{% extends "base.html" %}

{% block content %}

<body>
    <h1>List Of Accounts Page</h1>


    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        {% for items in accounts %}
      
            <tr>
                <td>{{ items.name }}</td>
                <td>{{ items.number }}</td>
                <td>{{ items.receipts.count }}</td>
            </tr>
       
        {% endfor %}
    </table>



   

</body>


{% endblock content %}