{% extends 'base.html' %} 

{% block content %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
          </form>
{% endblock content %}
    </main>

</body>


</html>