<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'signup'  %}">SignUp</a>
            <a href="{% url 'login'  %}">Login</a>

        {% endif %}  

    </nav>
    <header>
        <nav>
            <a href="{% url 'new_expense_category_create' %}">Create Expense </a>
        </nav>
        <nav>
            <a href="{% url 'categories_list' %}">List of Expense Categories</a> 
        </nav>
        <nav>
            <a href="{% url 'create_account' %}">Create Account</a> 
        </nav>
        <nav>
            <a href="{% url 'accounts_list' %}">List of Accounts</a> 
        </nav>
        <nav>
            <a href="{% url 'home' %}">List of Receipts</a>
        </nav>
        <nav>
            <a href="{% url 'new_receipt' %}">Create New Receipt</a>
        </nav>  
      </header>



{% block content %}
{% endblock content %}




</body>
</html>
