{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Receipts Home Page</h1>
    <table>
        <thead>
         <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
         </tr>
        </thead>
        <tbody>
            
            {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.category }}</td>
                <td>
                   {% if receipt.account != None %}
                   {{ receipt.account }}  
                    {% else %}
                      Cash
                    {% endif %}
                
                </td>
            </tr>
          {% endfor %}
           
        </tbody>
    </table>
    <main>
        
    </main>
  
</body>
</html>

{% endblock content %}

